@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Neverland Technical University</h1>
</div>
<div vlass="image">
    <img src="css/university.jpg" alt="Neverland Technical University" width="500" height="600">
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Neverland Technical University</h2>
        <br />
        <p>
            Neverland Technical University is a University dedicated to providing 
            quality undergraduate, and graduate programs revolving around STEM subjects. 
            <br />
            <br />
            Feel free to casually peruse our website and see what makes our University stand out.
            If at any point you become interested in learning more don't hesitate to reach out.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Top 5 Undergraduate Programs</h2>
        <p>A
            <br />
            <ul>
                <li>Agriculture</li>
            </ul>
        </p>
        <p>
            B
            <br />
            <ul>
                <li>Biochemistry</li>
            </ul>
        </p>
        <p>
            C
            <br />
            <ul>
                <li>Chemistry</li>
            </ul>
        </p>
        <p>
            G
            <br />
            <ul>
                <li>Geography</li>
            </ul>
        </p>
        <p>
            P
            <br />
            <ul>
                <li>Physics</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Top 5 Graduate Programs</h2>
        <p>
            A
            <br />
            <ul>
                <li>Animal Science</li>
            </ul>
        </p>
        <p>
            B
            <br />
            <ul>
                <li>Biology</li>
            </ul>
        </p>
        <p>
            C
            <br />
            <ul>
                <li>Computer Science</li>
            </ul>
        </p>
        <p>
            E
            <br />
            <ul>
                <li>Electrical Engineering</li>
            </ul>
        </p>
        <p>
            G
            <br />
            <ul>
                <li>Geoscience</li>
            </ul>
        </p>
    </div>
</div>