@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Here at Neverland Technical University we ask that you please reference us in any data or information collected
    from our website.
    <br />
Great work goes into creating the perfect website to showcase our University so please give credit where credit is due. </p>
